{% extends 'main.html' %} 

{% block content %}
<div class="col d-flex align-items-start" style="margin-left: 5%;margin-right: 5%;">
  <div>
    <p>
      <b>Model State</b> <span style="color:green"><b> {{state.state.capitalize()}}</b></span>
      <b>Score</b> {{ "{:,.2f}".format(state.test_score) }} 
      <b>RMSE</b> {{ "${:,.2f}".format(state.rmse) }} 
      <b>RMSPE</b> {{ "{:,.2f}%".format(state.rmspe) }} 
      <b>Last Updated</b> {{ state['update'] }}</p>
  </div>
</div>

<form class="form-floating" style="margin-left: 5%;margin-right: 5%;" action="/predict/" method="POST">
    <h3>Submit Your Prediction</h3>
    <div class="row g-1">
      <div class="col-md-6">
        <div class="form-floating">
          <output class="form-label">Carat {{form.carat.data}}</output>
          <input type="range" class="form-range" value="{{form.carat.data}}" min="0.2" max="3.24" step="0.01" 
            id="carat" name="carat" oninput="this.previousElementSibling.value = 'Carat ' +this.value">          
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-floating">
          <output>Depth {{form.depth.data}}</output>
          <input type="range" class="form-range" value="{{form.depth.data}}" min="43" max="79" step="0.1" 
            id="depth" name="depth" oninput="this.previousElementSibling.value = 'Depth '+this.value">    
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-floating">
          <output>Table {{form.table.data}}</output>
          <input type="range" class="form-range" value="{{form.table.data}}" min="43" max="95" step="0.1" 
            id="table" name="table" oninput="this.previousElementSibling.value = 'Table '+this.value">
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-floating">
          <select class="form-select {% if form.cut.errors %} is-invalid {% endif %}" 
            aria-label="cut select" name="cut" id="cut">
                <option selected>Open this select menu</option>
                {% for option in form.cut.choices %}
                <option value="{{ option[0] }}" 
                 {% if form.cut.data == option[0] %} SELECTED {% endif %}>{{ option[1] }}</option>
               {% endfor %}
          </select>
          {% if form.cut.errors %}
        <div id="validationServer04Feedback" class="invalid-feedback">
          {{ form.cut.errors[0]}}
        </div>
      {% endif %}
          <label for="cut">Choose Cut</label>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-floating">
          <select class="form-select {% if form.color.errors%} is-invalid {% endif %}" 
            aria-label="color select" name="color" id="color">
                <option selected>Open this select menu</option>
                {% for option in form.color.choices %}
                 <option value="{{ option[0] }}" 
                  {% if form.color.data == option[0] %} SELECTED {% endif %}>{{ option[1] }}</option>
                {% endfor %}
          </select>
          {% if form.color.errors %}
          <div id="validationServer04Feedback" class="invalid-feedback">
            {{ form.color.errors[0]}}
          </div>
        {% endif %}
          <label for="color">Choose Color</label>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-floating">
          <select class="form-select {% if form.clarity.errors%} is-invalid {% endif %}" aria-label="clarity select" name="clarity" id="clarity">
                <option selected>Open this select menu</option>
                {% for option in form.clarity.choices %}
                 <option value="{{ option[0] }}" 
                  {% if form.clarity.data == option[0] %} SELECTED {% endif %}>{{ option[1] }}</option>
                {% endfor %}
          </select>
          {% if form.clarity.errors %}
          <div id="validationServer04Feedback" class="invalid-feedback">
            {{ form.clarity.errors[0]}}
          </div>
        {% endif %}
          <label for="clarity">Choose Clarity</label>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-sm-2">
        <div class="form-floating">
          <output>X {{form.x.data}}</output>
          <input type="range" class="form-range" value="{{form.x.data}}" min="3.73" max="9.54" step="0.01" 
            id="x" name="x" oninput="this.previousElementSibling.value = 'X '+this.value">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating col">
          <output>Y {{form.y.data}}</output>        
          <input type="range" class="form-range" value="{{form.y.data}}" min="3.68" max="9.46" step="0.01" 
            id="y" name="y" oninput="this.previousElementSibling.value = 'Y '+this.value">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating col">
          <output>Z {{form.z.data}}</output>        
          <input type="range" class="form-range" value="{{form.z.data}}" min="2.06" max="5.98" step="0.01" 
            id="z" name="z" oninput="this.previousElementSibling.value = 'Z '+this.value">
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Predict</button>
      </div>
    </div>
  </form>
  {% endblock %} 