{% extends 'main.html' %} 

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/data/show_table/diamonds_org?limit=10">Diamonds Original Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/data/show_table/prediction_audit?limit=10&order_by=audit_id&order_asc_desc=DESC">User Predictions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="/predict">Fit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/data/show_table/alerts_table?limit=10&order_by=alert_id&order_asc_desc=DESC">Alerts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block data_content %}
     
  {% endblock %}

{% endblock %}